<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__list">
      <li class="main-header__list-item">
        <a href="/">Home</a>
      </li>
      <li class="main-header__list-item"><a href="/people">People</a></li>
      <li class="main-header__list-item">
        <a href="/projects">Projects</a>
      </li>
      <li class="main-header__list-item">
        <a href="/egg">🥚</a>
      </li>
    </ul>
  </nav>
</header>
