<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__list">
          <li class="main-header__list-item">
            <a href="/">Home</a>
          </li>
          <li class="main-header__list-item"><a href="/people">People</a></li>
          <li class="main-header__list-item">
            <a href="/projects">Projects</a>
          </li>
          <li class="main-header__list-item">
            <a href="/egg">🥚</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main-container">
      <h2 style="color: white; background-color: maroon; padding: 2px 10px">
        404 ! Page not found
      </h2>
    </main>
  </body>
</html>
