<%- include('./includes/head.ejs') %>
<body>
  <%- include('./includes/navigation.ejs') %>

  <main class="main-container">
    <h1>At a glance</h1>
  </main>
  <%- include('./includes/end.ejs') %>
</body>
